.add_block .wrapper-dropdown-5 {
    /* Size & position */
    position: relative;
    width: 100%;	
	border: 1px solid #a7a7a7; border-radius: 5px; height:31px;
    /* Styles */
    background: #fff;      
    cursor: pointer;
    outline: none;   
}
.add_block .wrapper-dropdown-5 span{padding-left:5px; line-height:31px;}
.add_block .wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 8px 6px 0 7px;
    border-style: solid;
    border-color: #888888 transparent;
}

.add_block .wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
	z-index:100;
	margin-top:-2px;
    top: 100%;
    left: -1px;
    right: -1px;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border-left:1px solid #a7a7a7; border-right:1px solid #a7a7a7;
    
    list-style: none;
    font-size:14px;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.add_block  .wrapper-dropdown-5 .dropdown li {
    padding: 5px 5px 5px 7px;
}

.add_block  .wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color:#888888;
  
 
}

.add_block  .wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

.add_block  .wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.add_block  .wrapper-dropdown-5 .dropdown li:hover a {
    color: #3db772;
}

/* Active state */

.add_block  .wrapper-dropdown-5.active {
   border: 5px 5px 0 0
   
}

.add_block  .wrapper-dropdown-5.active:after {
     margin-top: -5px;
    border-width: 0 6px 8px 7px;
    border-style: solid;
    border-color: #888888 transparent;  
}

.add_block  .wrapper-dropdown-5.active .dropdown {
    border-bottom: 1px solid #a7a7a7;
    max-height: 400px;
}

/* No CSS3 support: none */
#subscribe_block .wrapper-dropdown-5 {
    /* Size & position */
    position: relative;       
    cursor: pointer;
    outline: none;  
height:48px; background: white; width:211px;  border-radius: 6px;   padding:0 10px 0 10px;  box-shadow: 0 2px 2px rgba(0,0,0,0.2);  font-size: 16px;   color:#c7c7c7	
}
#subscribe_block span{line-height:48px;}
#subscribe_block .wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 8px 6px 0 7px;
    border-style: solid;
    border-color: #888888 transparent;
}

#subscribe_block .wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
	z-index:50;
	margin-top:-8px;
    top: 100%;
    left: 0px;
    right: 0px;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;      
    list-style: none;
    font-size:16px;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	
}

#subscribe_block  .wrapper-dropdown-5 .dropdown li {
    padding:5px 0 5px 10px;	
	line-height: auto;
}

#subscribe_block  .wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color:#c7c7c7;

 
}

#subscribe_block .wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
}

#subscribe_block  .wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

#subscribe_block .wrapper-dropdown-5 .dropdown li:hover a {
    color: #c7c7c7;
}

/* Active state */

#subscribe_block  .wrapper-dropdown-5.active {        

}

#subscribe_block .wrapper-dropdown-5.active:after { 
 margin-top: -5px;
    border-width: 0 6px 8px 7px;
    border-style: solid;
    border-color: #888888 transparent;  
}

#subscribe_block .wrapper-dropdown-5.active .dropdown {
    max-height: 400px;
	
}

.select1 .wrapper-dropdown-5 {
    /* Size & position */
    position: relative;       
    cursor: pointer;
    outline: none;  
 width:116px;   font-size: 16px;   color:#c7c7c7}
.select1 span{height:36px; line-height:36px; padding-left:12px;}
.select1 .wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -1px;
    border-width: 6px 5px 0 6px;
    border-style: solid;
    border-color: #888888 transparent;
}

.select1 .wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
	z-index:50;
	margin-top:-2px;
    top: 100%;
    left: 0px;
    right: 0px;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;      
    list-style: none;
    font-size:16px;
	
    /* Hiding */
    max-height: 0;
    overflow: hidden;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	
}

.select1  .wrapper-dropdown-5 .dropdown li {
    padding:6px 0 4px 12px;	
	line-height: auto;
}

.select1  .wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color:#c7c7c7;

 
}

.select1 .wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
	padding-bottom:10px;
}

.select1  .wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.select1 .wrapper-dropdown-5 .dropdown li:hover a {
    color: #3db772;
}

/* Active state */

.select1  .wrapper-dropdown-5.active {        

}

.select1 .wrapper-dropdown-5.active:after { 
 margin-top: -1px;
    border-width: 0 5px 6px 6px;
    border-style: solid;
    border-color: #888888 transparent;  
}

.select1 .wrapper-dropdown-5.active .dropdown {
    max-height: 400px;
	
}




.select2 .wrapper-dropdown-5 {
    /* Size & position */
    position: relative;       
    cursor: pointer;
    outline: none;  
 width:234px;   font-size: 16px;   color:#c7c7c7}
.select2 span{height:48px; line-height:48px; padding-left:12px;}
.select2 .wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -1px;
    border-width: 6px 5px 0 6px;
    border-style: solid;
    border-color: #888888 transparent;
}

.select2 .wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
	z-index:50;
	margin-top:-2px;
    top: 100%;
    left: 0px;
    right: 0px;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;      
    list-style: none;
    font-size:16px;
	
    /* Hiding */
    max-height: 0;
    overflow: hidden;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	
}

.select2  .wrapper-dropdown-5 .dropdown li {
    padding:6px 0 4px 12px;	
	line-height: auto;
}

.select2  .wrapper-dropdown-5 .dropdown li a {
    display: block;
    text-decoration: none;
    color:#c7c7c7;

 
}

.select2 .wrapper-dropdown-5 .dropdown li:last-of-type a {
    border: none;
	padding-bottom:10px;
}

.select2  .wrapper-dropdown-5 .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.select2 .wrapper-dropdown-5 .dropdown li:hover a {
    color: #3db772;
}

/* Active state */

.select2  .wrapper-dropdown-5.active {        

}

.select2 .wrapper-dropdown-5.active:after { 
 margin-top: -1px;
    border-width: 0 5px 6px 6px;
    border-style: solid;
    border-color: #888888 transparent;  
}

.select2 .wrapper-dropdown-5.active .dropdown {
    max-height: 400px;
	
}