@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,700,700italic,600italic,800,800italic&subset=latin,cyrillic-ext,cyrillic);
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body{ text-align:left; font-family: 'Open Sans', Arial;  font-size:10pt; color:#888888; background: #f7f7f7}

.wrapper{width:100%; max-width:1200px; min-width:950px; margin: 0 auto;}
.container{padding:0 30px 0 30px;}

input:focus{border:none; outline:none}
textarea:focus{
    //border:none; 
    outline:none
}
input[type="button"]:focus{border:none; outline:none}
button:focus{border:none; outline:none}
.text_block_bottom{
    font-size: 14px;
    color: #555555;
    overflow: hidden;
    line-height: 22px;
    margin-top: 20px;
	clear: both;
}
#header{width:100%; float:left; display:block; background: white; height:76px}
#header .logo{float:left; padding:15px 0 0 0; width:210px;}
#header .location_block{ float:right; text-align:right;  font-size:12pt; position:relative; padding-right:20px; }
#header .location_block .triangle{width:9px; height:9px; background: url('../images/triangle.png') top left no-repeat;
                                  background-position: 0 0; float:right; margin-top:33px;}
#header .location_block .place{ background: url('../images/place.png') top left no-repeat; width:10px; height:14px;  background-position: 0 0;  float: right; margin-top:30px;}
#header .location_block .city{float:right; padding:24px 10px 0 10px; font-weight:300; cursor: pointer}
#header .location_block .city:hover{color:#3db772;}
#header .location_block .city:hover+.place{background-position: 0 -14px}
#header .location_block .city_block{position:absolute; top:70px; right:-55px; z-index:100; background: white; border-radius:6px; width:204px; padding:15px; box-shadow: 0 1px 3px rgba(0,0,0,0.2); color:#b3b2b2; display:none }
#header .location_block .city_block:before{content: "";
                                           position: absolute;
                                           left: 110px;
                                           top: 0;
                                           width: 14px;
                                           height: 14px;
                                           margin-top: -8px;
                                           background-color: white;
                                           border-top: 1px solid #dfdfdf; border-left:1px solid #dfdfdf;
                                           border-radius: 2px;					
                                           -webkit-transform: rotate(45deg);
                                           -ms-transform: rotate(45deg);
                                           transform: rotate(45deg);}
#header .location_block .city_block p{text-align:center; padding-bottom:18px;}
#header .location_block .city_block .no{width:94px; height:45px; border: 1px solid #c7c6c6; display:block; text-align:center; line-height:45px; border-radius:6px; text-transform:uppercase; text-decoration:none; font-weight:700; color:#b3b2b2; float:left; margin-right:10px}
#header .location_block .city_block .no:hover{color:#555555; border: 1px solid #555555}
#header .location_block .city_block .yes{width:94px; height:45px; border: 1px solid #3db772; display:block; text-align:center; line-height:45px; border-radius:6px; text-transform:uppercase; text-decoration:none; font-weight:700; color:#3db772; float:left; }
#header .location_block .city_block .yes:hover{ border: 1px solid #107a46; color:#107a46}
#header .location_block .visible{display:block}
#header .login_block{float:right; padding-top:16px}
#header .login_block a{color:#3db772; text-transform:uppercase; font-size:14px; line-height:45px; padding:0 0 0 49px; font-weight:700;  border:1px solid #6fca96; border-radius:5px; width:65px; height:45px;  background: url('../images/login.png') top left no-repeat; background-position: 14px 10px; display:block; text-decoration:none; }
#header .login_block a:hover{ border: 1px solid #107a46}

#main_container{width:100%; float:left; background: #f7f7f7 url('../images/main_block_shadow.png') top left repeat-x; padding:28px 0 52px 0}

#search_block{width: 100%; max-width:1140px; min-width:890px; background: white;   border-radius:6px; box-shadow: 0 1px 3px rgba(0,0,0,0.2); margin-bottom:28px; padding: 3px; float:left; z-index:101}
#search_block .search_header{width:92px; float:left; padding:0 0 0 26px; line-height:49px; font-size:16px;}
#search_block .tags_container{margin:0 280px 0 118px; max-width:742px; min-width:492px;}
#search_block div.tagsinput {  background: white; padding:5px 3px 0 3px; float:left;  width:100% !important; }
#search_block div.tagsinput span.tag {border-radius:6px; display: block; float: left;  text-decoration:none; background: #f2f1f1; color: #333333; margin-right: 10px;  font-size:14px; height:38px; line-height:38px; padding:0 15px 0 15px; margin-bottom:5px;}
#search_block div.tagsinput span.tag a {font-weight:300;  color: #828282; text-decoration:none; background: url('../images/close2.png') top left no-repeat;  color: transparent; line-height:14px; font-size: 12px; background-position:0 3px } 
#search_block div.tagsinput input { width:5px; margin:0px;  font-size: 14px; border:1px solid transparent; background: transparent; color: #000; outline:0px;  margin-right:5px; font-family: 'Open Sans', Arial; height:38px; line-height:38px;}
#search_block div.tagsinput div { display:block; float: left; } 
#search_block .tags_clear { clear: both; width: 100%; height: 0px; }
#search_block .clear{width:48px; float:right; cursor: pointer; background: url('../images/close.png') top left no-repeat; height:49px; background-position: 15px 18px;} 
#search_block .clear:hover{ background: url('../images/close_active.png') top left no-repeat; background-position: 15px 18px;}
#search_block input[type="button"]{width:222px; height:49px; border-radius:6px; background: url('../images/search_image.png') top left no-repeat, url('../images/gbg.png') top left repeat; cursor:pointer; border: none; color: white; font-weight:700; font-size:16px; text-transform:uppercase; font-family: 'Open Sans', Arial; float:right; background-position:20px 15px;}
#search_block input[type="button"]:hover{background: url('../images/search_image.png') top left no-repeat, url('../images/gbg2.png') top left repeat; background-position:20px 15px;}
#search_block input[type="button"]:active{ padding:0; margin:0;}


#menu{list-style:none; padding-bottom:17px; float:left; width:100%; max-width:1540px; min-width:920px;}
#menu li{ float:left; padding-right:12px;}
#menu li a{background: white;  width:196px;  display:block; height:40px; border-radius:6px; box-shadow: 0 1px 3px rgba(0,0,0,0.2);text-transform:uppercase; font-weight:700; font-size:14px; color:#3db772; line-height:16px;  text-decoration:none; text-align:center; padding:8px 0 0 20px; float:left; }
#menu li a.safety{line-height: 32px; padding-left: 0px;}
#menu li .subscribe{background:white  url('../images/envelop.png') top left no-repeat; background-position: 14px 11px} 
#menu li .find{background:white  url('../images/fnd.png') top left no-repeat; background-position: 14px 11px} 
#menu li .adv{background:#3db772  url('../images/plus.png') top left no-repeat; background-position: 14px 11px; color: white} 
#menu li a:hover{color:#555555}
#menu li .adv:hover{color: white; background-color: #107a46}
.hidden-block{display: none;}
#main_submenu{
    background: white;
    max-width: 1140px;
    min-width: 890px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    font-weight: 700;
    font-size: 14px;
    color: #3db772;
    line-height: 40px;
    padding: 5px 20px;
    margin: 5px 0 20px 0;
}

#main_submenu .sub-links{
    float:left;
}

#main_submenu .sub-links a{
    font-size: 16px;
    color: #3db772;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
}

#main_submenu .sub-links a:hover{
    color: #555555;
    text-decoration: none;
}

#main_submenu .pluso{
    float: right;
    padding-top: 2px;
}

#left_content_block{ width: 894px; background: white; margin-right:246px; border-radius:6px; box-shadow: 0 1px 3px rgba(0,0,0,0.2); display: table-cell }
.spacer{width:100%; clear:both}

#left_content_block .advertisement_block{padding:30px 25px 0 22px;  }
#left_content_block .advertisement_block .line{width:100%; float:left; border-bottom: 1px solid #e6e4e4; font-size:11pt;}
#left_content_block .advertisement_block .line .label_block{float:left; padding:6px 16px 6px 22px}
#left_content_block .advertisement_block .line .label_block input[type="checkbox"]{display:none;  }
#left_content_block .advertisement_block .line .label_block input[type="checkbox"]+ label{cursor: pointer;  }
#left_content_block .advertisement_block .line .label_block input[type="checkbox"]+ label:before{content: "";  display:inline-block;  width:23px; height:10px; background: url('../images/checkbox.png') top left no-repeat; background-position:0 0}
#left_content_block .advertisement_block .line .label_block input[type="checkbox"]:checked + label:before{background-position:0 -10px}
#left_content_block .advertisement_block .line .label_block .input{float:left;}
#left_content_block .advertisement_block .line .label_block .guess{background: url('../images/guess.png') top left no-repeat; width:17px; height:20px; margin-left:8px; background-position: 0 3px; float:left; position:relative}
#left_content_block .advertisement_block .line .label_block .guess .popup{position:absolute; top:-10px; left:30px; background:white; border: 1px solid #3db772; border-radius:5px; text-align:center; width:300px; padding:10px; line-height:normal; box-shadow: 0 1px 3px rgba(0,0,0,0.2); display:none}
#left_content_block .advertisement_block .line .label_block .guess .popup:before{content: "";
                                                                                 position: absolute;
                                                                                 left: -8px;
                                                                                 top: 20px;
                                                                                 width: 14px;
                                                                                 height: 14px;
                                                                                 margin-top: -8px;
                                                                                 background-color: white;
                                                                                 border-bottom: 1px solid #3eb772; border-left:1px solid #3eb772;
                                                                                 border-radius: 2px;					
                                                                                 -webkit-transform: rotate(45deg);
                                                                                 -ms-transform: rotate(45deg);
                                                                                 transform: rotate(45deg);}
#left_content_block .advertisement_block .line .label_block .guess:hover .popup{display: block}
#left_content_block .advertisement_block .line .price{float:right; font-weight:600; padding:6px 16px 6px 22px; }
#left_content_block .advertisement_block .sites_list{list-style:none; padding:20px 50px 0 160px; font-size:11pt; float: left;}
#left_content_block .advertisement_block .sites_list li{ padding:0 0 15px 0; }
#left_content_block .advertisement_block .sites_list li input[type="checkbox"]{display:none;  }
#left_content_block .advertisement_block .sites_list li input[type="checkbox"]+ label{cursor: pointer;  }
#left_content_block .advertisement_block .sites_list li input[type="checkbox"]+ label:before{content: "";  display:inline-block;  width:23px; height:10px; background: url('../images/checkbox.png') top left no-repeat; background-position:0 0}
#left_content_block .advertisement_block .sites_list li input[type="checkbox"]:checked + label:before{background-position:0 -10px}
#left_content_block .advertisement_block .ll{border-bottom:none;}


#left_content_block .payment_block{padding:0 0 42px 40px; clear: both; }
#left_content_block .payment_block .block_header{color:#3db772; font-size:18px; padding-bottom:30px; font-weight:600}
#left_content_block .payment_block .payment_table_container{padding:0 0 0 52px}
#left_content_block .payment_block .payment_table_container table{width:100%; padding:0;  border-spacing: 0; border:0;}
#left_content_block .payment_block .payment_table_container table td{vertical-align: middle; padding: 0 0 16px 0; font-size:15px; color:#3db772; font-weight:600}
#left_content_block .payment_block .payment_table_container table td:hover{color:#107a46; cursor: pointer}
#left_content_block .payment_block .payment_table_container table td span{font-size:7pt; font-weight:normal; color:#989898; margin-top:-4px; display:block}
#left_content_block .payment_block .payment_table_container table td:hover span{color:#555555}
#left_content_block .payment_block .payment_table_container table td .image{float:left; padding-right:25px;}
#left_content_block .payment_block .continue_without_payment{padding:30px 0 0 0}
#left_content_block .payment_block .continue_without_payment a{color:#888888; font-size:11pt;}
#left_content_block .payment_block .continue_without_payment a:hover{color:#555555}

#left_content_block .check_block{padding:15px 18px 25px 20px; overflow: hidden; }
#left_content_block .check_block .rounded_subheader{border: 1px solid #6fca96; background: #ecfcf3 url('../images/i1.png') top left no-repeat; background-position:20px 14px; height:56px; border-radius: 6px; margin-bottom:30px; line-height:56px; color:#27a55e; padding:0 25px 0 70px; font-size:11pt}
#left_content_block .check_block table{width:100%; padding:0;  border-spacing: 0; border:0; font-size:11pt;}
#left_content_block .check_block table td{padding:2px 8px 2px 8px;}
#left_content_block .check_block table .left_row{font-weight:600; white-space: nowrap}
#left_content_block .check_block table td .category{padding-bottom:20px}
#left_content_block .check_block .links_block{padding:50px 15px 0 15px} 
#left_content_block .check_block .links_block .back{display:block; border: 2px solid #6fca96; width:175px; height:44px; line-height:44px; border-radius:6px; background: url('../images/back.png') top left no-repeat; background-position:13px 10px; text-align:center; text-transform:uppercase; text-decoration:none; color:#3db772; font-weight:700; font-size:14px; float:left }
#left_content_block .check_block .links_block .back:hover{border: 2px solid #107a46;}
#left_content_block .check_block .links_block .forvard{display:block; float:right;  width:177px; height:46px; line-height:46px; border-radius:6px; background: #3db772 url('../images/forvard.png') top left no-repeat; background-position:138px 10px; text-align:center; text-transform:uppercase; text-decoration:none; color: white; font-weight:700; font-size:14px;  box-shadow: 0 1px 3px rgba(0,0,0,0.2);}
#left_content_block .check_block .links_block .forvard:hover{background-color:#107a46}

#left_content_block .add_block{padding:15px 18px 25px 20px; }
#left_content_block .add_block .rounded_subheader{border: 1px solid #6fca96; background: #ecfcf3 url('../images/i1.png') top center no-repeat; background-position:20px 50%;  border-radius: 6px; margin-bottom:30px;  color:#27a55e; padding:6px 25px 8px 70px; font-size:11pt}
#left_content_block .add_block table{width:100%; padding:0;  border-spacing: 0; border:0; font-size:11pt;}
#left_content_block .add_block table td{padding:0 8px 9px 8px; vertical-align:top;}

#left_content_block .add_block table .left_row{font-weight:600; vertical-align: middle;}
#left_content_block .add_block table .top{vertical-align:top; padding-top:6px;}
#left_content_block .add_block table .top p{font-weight:normal; font-size:10pt; padding-top:4px;}
#left_content_block .add_block table .input_container{border: 1px solid #a7a7a7; border-radius: 5px; height:31px; width:192px; padding:0 10px 0 10px;} 
#left_content_block .add_block table .input_container input{width:192px; background:none; height:31px; line-height:30px; font-family: 'Open Sans', Arial; color:#888888; border: none;}
#left_content_block .add_block table .textarea_container{border: 1px solid #a7a7a7; border-radius: 5px; height:124px; padding:5px 10px 5px 10px; width:450px; }
#left_content_block .add_block table .textarea_container textarea{width:100%; background:none; resize:none; border:none;  font-family: 'Open Sans', Arial; font-size:14px; color:#888888;}
#left_content_block .add_block .select_file_container{position:relative;} 
//#left_content_block .add_block table .select_file_container input[type="file"]{ width:78px; height:73px; position:absolute; z-index:10; opacity:0;}
//#left_content_block .add_block table .select_file_container span{width:78px; height:73px; background: url('../images/upload.png') top left no-repeat; position:absolute; z-index:1}
#left_content_block .add_block table .price_container{width:131px; border: 1px solid #a7a7a7; border-radius: 5px; height:31px; float:left; padding:0 10px 0 10px;}
#left_content_block .add_block table .price_container input{width:100%;  background:none; height:31px; line-height:30px; font-family: 'Open Sans', Arial; color:#888888; border: none;}
#left_content_block .add_block table .rub{float:left; line-height:33px; padding:0 0 0 5px; }
#left_content_block .add_block table .price_description{text-align:right; float: right; font-size:10pt; color:#3db772; line-height:33px; background: url('../images/lamp.png') top left no-repeat; padding-left:20px; background-position:0 6px; position:relative; cursor: pointer}
#left_content_block .add_block table .price_description .price_popup{position:absolute; top:35px; right:0; background:white; border: 1px solid #3db772; border-radius:5px; text-align:center; width:300px; padding:10px; line-height:normal; box-shadow: 0 1px 3px rgba(0,0,0,0.2); display:none}
#left_content_block .add_block table .price_description .price_popup:before{content: "";
                                                                            position: absolute;
                                                                            right: 110px;
                                                                            top: 0;
                                                                            width: 14px;
                                                                            height: 14px;
                                                                            margin-top: -8px;
                                                                            background-color: white;
                                                                            border-top: 1px solid #3eb772; border-left:1px solid #3eb772;
                                                                            border-radius: 2px;					
                                                                            -webkit-transform: rotate(45deg);
                                                                            -ms-transform: rotate(45deg);
                                                                            transform: rotate(45deg);}
#left_content_block .add_block table .price_description:hover .price_popup{display:block}										
#left_content_block .add_block table .checkbox_container{position:relative; height:33px; line-height:33px;}
#left_content_block .add_block table .small{float:left; padding-right:20px; font-size:11pt;}
#left_content_block .add_block table .checkbox_container label{font-size:10pt;}
#left_content_block .add_block table .small label{font-size:11pt;}
#left_content_block .add_block .publish{ height:48px; border:1px solid #6dc894; color:#6dc894; cursor:pointer; border-radius:5px; width:100%; font-weight:400; font-size:20px; font-family: 'Open Sans', Arial; background: url('../images/wbg.png') top left repeat}
#left_content_block .add_block .publish:hover{border:2px solid #6dc894;}
#left_content_block .add_block table .publish2{ height:48px; border:none; color:white; cursor:pointer; border-radius:5px; width:100%; text-transform:uppercase; font-weight:700; font-size:14px; font-family: 'Open Sans', Arial; background: url('../images/gbg.png') top left repeat; box-shadow: 0 1px 3px rgba(0,0,0,0.2);}
#left_content_block .add_block table .publish2:hover{background:#107a46}
#left_content_block .add_block table input[type="checkbox"]{display:none;  }
#left_content_block .add_block table input[type="checkbox"]+ label{cursor: pointer;  }
#left_content_block .add_block table input[type="checkbox"]+ label:before{content: "";  display:inline-block;  width:23px; height:10px; background: url('../images/checkbox.png') top left no-repeat; background-position:0 0}
#left_content_block .add_block table input[type="checkbox"]:checked + label:before{background-position:0 -10px}


#left_content_block .inner_block{padding:15px 18px 15px 18px; }
#left_content_block .inner_block .gray_block{background: #f7f7f7; border-radius:6px; padding:10px; margin-bottom:10px; clear:left }
#left_content_block .inner_block .gray_block h1{color:#636363 ; font-weight:600; font-size:18px; padding-bottom:14px; padding-right:30px;}
#left_content_block .inner_block .gray_block h2,#left_content_block .inner_block .gray_block .under-h{color:#888888; font-weight:normal;}
#left_content_block .inner_block .gray_block h2.about-avto{font-size: 25px;color: #636363;margin-bottom:15px;font-weight: bold;}
#left_content_block .inner_block .gray_block h2.about-avto.check-list{margin-top:15px;}
#left_content_block .inner_block .gray_block .grade_block{color:#c9c9c9; padding:4px 0 40px 0}
#left_content_block .inner_block .gray_block .grade_block .grade_text{float:left; padding-right:10px;}
#left_content_block .inner_block .gray_block .grade_block .rstar{width:12px; height:11px; background: url('../images/star.png') top left no-repeat; background-position: 0 0; float:left; margin:7px 4px 0 0; }
#left_content_block .inner_block .gray_block .grade_block .selected{background-position: 0 -11px;}

#left_content_block .inner_block .testdrive {font-size:15px;  color:#636363;}
#left_content_block .inner_block .testdrive p{line-height:20px; padding-bottom:10px;}
#left_content_block .inner_block .testdrive .small_text{font-size:13px; color:#b6b6b6; font-weight:600; line-height:16px; padding-bottom:20px;}
#left_content_block .inner_block .testdrive img{max-width: 100%;vertical-align: bottom;}
#left_content_block .inner_block .gray_block h2.item_header{margin:0;overflow: hidden;}

#left_content_block .inner_block .reply {font-size:15px;  color:#636363;}
#left_content_block .inner_block .reply .rating_block{float:left; width:38%;  min-width:220px; padding:0 10px 0 0; color:#c9c9c9}
#left_content_block .inner_block .reply .rating_block .block_header{padding:0 0 6px 0;  height:20px; line-height:20px; background-position:0 2px; color:#888888}
#left_content_block .inner_block .reply .rating_block table{width:100%; padding:0;  border-spacing: 0; border:0;}
#left_content_block .inner_block .reply .rating_block table td{vertical-align:top; padding:0 5px 0 0}
#left_content_block .inner_block .reply .rating_block table td .rstar{width:12px; height:11px; background: url('../images/star.png') top left no-repeat; background-position: 0 0; float:left; margin:7px 4px 0 0}
#left_content_block .inner_block .reply .rating_block table td .selected{background-position: 0 -11px;}

#left_content_block .inner_block .reply .positive_block {width:30%; min-width:190px; float:left; padding:0 10px 0 0}
#left_content_block .inner_block .reply .positive_block .block_header{background: url('../images/plus2.png') top left no-repeat; padding:0 0 6px 25px; font-weight:700; height:20px; line-height:20px; background-position:0 2px;}
#left_content_block .inner_block .reply .positive_block p{padding:0 0 5px 25px; line-height:20px;}
#left_content_block .inner_block .reply .negative_block{width:28%; min-width:170px; float:left; color:#6a6a6a}
#left_content_block .inner_block .reply .negative_block .block_header{background: url('../images/minus.png') top left no-repeat; padding:0 0 6px 25px; font-weight:700; height:20px; line-height:20px; background-position:0 2px;}
#left_content_block .inner_block .reply .negative_block p{padding:0 0 5px 25px; line-height:20px;}
#left_content_block .inner_block .reply .reply_block_spacer{clear:left; padding-bottom:15px}
#left_content_block .inner_block .reply p{padding-bottom:10px;}

#left_content_block .inner_block .reply .reply_item{
    width: 100%;
    padding: 0 0 10px 0;
    overflow: hidden;
}

#left_content_block .inner_block .reply .reply_item .toggle_text{
    display: none;
}

#left_content_block .inner_block .reply .reply_item .outer_link a {
    text-decoration: underline !important;
}

#left_content_block .inner_block .reply .reply_item .video_testdrive {
    border-bottom: 1px dashed #3db772;
    color: #3db772;
    display: inline-block;
    cursor: pointer;
}
#left_content_block .inner_block .reply .reply_item .image{float:left;}
#left_content_block .inner_block .reply .reply_item .image img{border:2px solid #dddcdc; border-radius:6px;}
#left_content_block .inner_block .reply .reply_item .description{  margin-left: 110px;padding: 0 12px 0 0;}
#left_content_block .inner_block .reply .reply_item .description .item_header .txt{float:left; padding-right:10px;}
#left_content_block .inner_block .reply .reply_item .description .item_header a{color:#3db772; text-decoration:none}
#left_content_block .inner_block .reply .reply_item .description .item_header a:hover{color:#107a46}
#left_content_block .inner_block .reply .reply_item .description .item_header .rstar{width:12px; height:11px; background: url('../images/star.png') top left no-repeat; background-position: 0 0; float:left; margin:7px 4px 0 0}
#left_content_block .inner_block .reply .reply_item .description .item_header .selected{background-position: 0 -11px;}
#left_content_block .inner_block .reply .reply_item .description .item_subheader{color:#c0c0c0;}
#left_content_block .inner_block .reply .reply_item .description .item_subheader a{color:#b8b8b8; text-decoration:none;}
#left_content_block .inner_block .reply .reply_item .description .item_subheader a:hover{color:#555555}
#left_content_block .inner_block .reply .reply_item .description  p{line-height:21px;}
#left_content_block .inner_block .reply .reply_item .description  a{text-decoration:none; color:#636363} 
#left_content_block .inner_block .reply .reply_item .description  a:hover{color:#181818}
#left_content_block .inner_block .reply .reply_item .reply_text.toggle_text iframe{width:100%; max-width:640px;}


#left_content_block .related_goods{width:100%;  padding:0;  border-spacing: 0; border:0; font-size:14px; color:#555555; overflow: hidden;}
#left_content_block .related_goods td{padding:0 20px 20px 10px;}
#left_content_block .related_goods td h6{font-weight:700}
#left_content_block .related_goods td a{color:#4abc7b; text-decoration:none}
#left_content_block .related_goods td a:hover{color:#107a46}


#left_content_block .inner_block .commercial_block_image{float:left; width:195px;  }
#left_content_block .inner_block .commercial_block_text{ padding:0 0 0 25px;  font-size:11pt; color:#555555;   margin-left: 25%; width: 70%;  background: url('../images/image2.png') bottom left no-repeat; }
#left_content_block .inner_block .commercial_block_text .block_border{border-left: 1px solid #d4d4d4; padding-left:10px;}
#left_content_block .inner_block .commercial_block_text a{color:#4abc7b; text-decoration:none}
#left_content_block .inner_block .commercial_block_text a:hover{color:#107a46}

#left_content_block .inner_block .submenu{list-style:none; padding-top:0; float:left;  width:100%;}
#left_content_block .inner_block .submenu li{float:left; padding:0 15px 0 10px; height:36px; font-size:14px; color:#a3a3a3}
#left_content_block .inner_block .submenu .active{background: #f7f7f7; border-radius:5px 5px 0 0}
#left_content_block .inner_block .submenu .active a{text-decoration:none;  color:#555555}
#left_content_block .inner_block .submenu li a{font-weight:700;  line-height:36px; padding-right:5px; color:#3db772}
#left_content_block .inner_block .submenu li a:hover{color:#107a46}
#left_content_block .inner_block .submenu li .active a{color:#62c48d} 

#left_content_block .inner_block .submenu .edit-link{float:right}
#left_content_block .inner_block .submenu .edit-link a{
    background: url(../images/icon-pencil.png) no-repeat right;
    color: #8e8e8e;
    padding-right: 20px;
}
#left_content_block .inner_block .submenu li a.psevdo-link{border-bottom: 1px #62c48d dashed; text-decoration: none; padding: 0;} 
#left_content_block .inner_block .submenu li.submenu-psevdo{position:relative;}
#left_content_block .inner_block ul.psevdo-menu{
    display:none;
    position: absolute;
    width: 150px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    top: 40px;
    list-style: none;
    padding: 0 0 15px 10px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
#left_content_block .inner_block ul.psevdo-menu li{
    display: block;
    float: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    height: 25px;
    line-height: 25px;
}
#left_content_block .inner_block ul.psevdo-menu li a{
    color: #b3b2b2;
}
#left_content_block .inner_block ul.psevdo-menu:before {
    content: "";
    position: absolute;
    left: 18px;
    top: 0;
    width: 14px;
    height: 14px;
    margin-top: -8px;
    background-color: white;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#left_content_block .inner_block .sorter{float:left; width:100%; list-style:none; padding:18px 0 10px 0}
#left_content_block .inner_block .sorter li{float:right; padding:0 0 0 17px; position:relative;list-style:none;}
#left_content_block .inner_block .sorter li a{color:#494848; font-weight:600}
#left_content_block .inner_block .sorter li a:hover{color:#3db772}
#left_content_block .inner_block .sorter li .asc,#left_content_block .inner_block .sorter li .desc{color:#3db772}


#left_content_block .inner_block .advertisement{position:relative; padding-bottom:15px; overflow: hidden  }
#left_content_block .inner_block .advertisement .star{position:absolute; top:14px; right:10px; width:19px; height:17px; background: url('../images/star3.png') top left no-repeat; background-position: 0 0;  -moz-transition: all 1s 0.1s ease-in;
                                                      -o-transition: all 1s 0.1s ease-in;
                                                      -webkit-transition: all 1s 0.1s ease-in;}
#left_content_block .inner_block .advertisement .star:hover{-webkit-transform: rotate(360deg);
                                                            -moz-transform: rotate(360deg);
                                                            -o-transform: rotate(360deg); background-position: 0 -17px;}
#left_content_block .inner_block .advertisement .selected{background-position: 0 -17px;}
#left_content_block .inner_block .advertisement .left_pane{width:347px; float:left}
#left_content_block .inner_block .advertisement .left_pane .big_image img{border: 2px solid #dddcdc; border-radius:6px;}
#left_content_block .inner_block .advertisement .left_pane .thumbs img{border: 2px solid #dddcdc;  border-radius:6px; margin:0 2px 2px 0}
#left_content_block .inner_block .advertisement .left_pane .more{padding:10px 0 10px 0; float:left}
#left_content_block .inner_block .advertisement .left_pane .more a{width:240px; height:48px; background: #3db772; border-radius:6px; color:white; text-transform:uppercase; font-weight:600; text-decoration:none; display:block; line-height:48px; text-align:center; font-size:15px;}
#left_content_block .inner_block .advertisement .left_pane .more a:hover{background:#107a46}
#left_content_block .inner_block .advertisement .right_pane{margin-left:347px; }
#left_content_block .inner_block .advertisement .right_pane table{width:100%; padding:0;  border-spacing: 0; border:0; font-size:11pt;}
#left_content_block .inner_block .advertisement .right_pane table td{padding:1px 15px 2px 0; vertical-align:top; }
#left_content_block .inner_block .advertisement .right_pane table .left_row{ color:#c7c7c7;}
#left_content_block .inner_block .advertisement .right_pane .phone{position:relative; background: url('../images/phone_image.png') top left no-repeat; display:inline-block; height:24px; line-height:24px; padding-left:38px; margin:16px 0 5px 0;  color:#3db772; font-size: 20px; cursor: pointer}
#left_content_block .inner_block .advertisement .right_pane .phone .full_number{display:none}
#left_content_block .inner_block .advertisement .right_pane .visible .full_number{display:inline-block;text-decoration:underline;}
#left_content_block .inner_block .advertisement .right_pane .phone .full_number_text{text-decoration:underline;}
#left_content_block .inner_block .advertisement .right_pane .phone:hover{color:#107a46}
#left_content_block .inner_block .advertisement .right_pane .visible .full_number_text{display:none}
//#left_content_block .inner_block .advertisement .right_pane .visible{text-decoration:underline; }
#left_content_block .inner_block .advertisement .right_pane .location a{color:#3db772; font-size:11pt; background: url('../images/location.png') top left no-repeat; padding-left:38px;  height:25px; line-height:25px; display:block}
#left_content_block .inner_block .advertisement .right_pane .location a:hover{color:#107a46}
#left_content_block .inner_block .advertisement .description_block{margin-top: 25px; font-size:11pt; color:#636363}
#left_content_block .advertisement .left_pane .soldout a{color:#3db772;}
#left_content_block .advertisement .left_pane .soldout{
    font-size: 18px;
    text-align: center;
    padding: 30px;
}


#left_content_block .inner_block .results{float:left; width:100%;  padding-bottom:20px;}
#left_content_block .inner_block .results .item{text-decoration: none;width:100%; float:left; border-radius:6px; background: #f7f7f7; margin-bottom:10px; font-size:11pt; color:#656565}
#left_content_block .inner_block .results .item:hover{ background: #eeeeee; color:#181818}
#left_content_block .inner_block .results .item .green_bold{color: #3db772; font-size:14pt; font-weight:600}
#left_content_block .inner_block .results .item .green_light{color: #3db772; padding-bottom:8px;}
#left_content_block .inner_block .results .item .city{color: #cccccc}
#left_content_block .inner_block .results .item:hover .green_bold{color:#107a46}
#left_content_block .inner_block .results .item:hover .green_light{color:#107a46}
#left_content_block .inner_block .results .item .image{ float:left; padding:5px; position:relative}
#left_content_block .inner_block .results .item .image img{border:2px solid #dddcdc; border-radius:6px; vertical-align: middle}
#left_content_block .inner_block .results .item .image .enlargement{background: white; padding:10px 10px 10px 10px; position:absolute; top:-40px; left:185px; z-index:100; border: 1px solid #3db772; border-radius:6px; text-align:center; display:none; line-height:200px;}
#left_content_block .inner_block .results .item .image .enlargement img{border:0; vertical-align: middle;}
#left_content_block .inner_block .results .item .image .enlargement:before{content: "";
                                                                           position: absolute;
                                                                           left: -8px;
                                                                           top: 100px;
                                                                           width: 14px;
                                                                           height: 14px;
                                                                           margin-top: -8px;
                                                                           background-color: white;
                                                                           border-left: 1px solid #3db772; border-bottom:1px solid #3db772;
                                                                           border-radius: 2px;					
                                                                           -webkit-transform: rotate(45deg);
                                                                           -ms-transform: rotate(45deg);
                                                                           transform: rotate(45deg);}
#left_content_block .inner_block .results .item .image:hover .enlargement{display: block}
#left_content_block .inner_block .results .item .price{float:right; text-align: right; padding:10px 15px 0 0; width:150px;} 
#left_content_block .inner_block .results .item .price .green_bold{white-space: nowrap; height:90px;}
#left_content_block .inner_block .results .item .year{float:right; padding:10px 0 0 0; width:80px; text-align:center;  }
#left_content_block .inner_block .results .item .details{padding:10px 0 10px 0; margin-right:245px;  margin-left:200px; }
#left_content_block .inner_block .results .item .star{width:19px; height:17px; background: url('../images/star3.png') top left no-repeat; background-position: 0 0; float:left; margin:2px 5px 0 0;}
#left_content_block .inner_block .results .item .selected{background-position: 0 -17px; }
#left_content_block .inner_block .results .item .date{color:#cccccc}
#left_content_block .inner_block .results .item:hover .date{color:#666666}



#left_content_block .inner_block .ias_trigger{width:100%; clear: both}
#left_content_block .inner_block .ias_trigger a{font-weight: normal;border:none; padding:10px 50px; width:240px; height:48px; background: #3db772; border-radius:6px; line-height:48px; text-align:center; color:white; text-decoration:none; text-transform: uppercase; font-size:12pt;font-family: 'Open Sans', Arial;}
#left_content_block .inner_block .ias_trigger a:hover{background:#107a46}

#left_content_block .inner_block .wide_submenu{list-style:none; display:table; width:100%; padding:0 0 10px 0}
#left_content_block .inner_block .wide_submenu li{display:table-cell; text-align:center; position:relative}
#left_content_block .inner_block .wide_submenu li a{color:#656565; font-size:14px;}
#left_content_block .inner_block .wide_submenu li a:hover{color:#181818}
#left_content_block .inner_block .wide_submenu .more{width:70px;}
#left_content_block .inner_block .wide_submenu .more:after{  content: "";
                                                             width: 0;
                                                             height: 0;
                                                             position: absolute;
                                                             top: 50%;
                                                             right: 5px;
                                                             margin-top: -2px;
                                                             border-width: 7px 3px 0 3px;
                                                             border-style: solid;
                                                             border-color: #b3b2b2 transparent;}
#left_content_block .inner_block .wide_submenu .more_popup{position:absolute; top:35px; left:-40px;  background: white;  box-shadow: 0 1px 2px rgba(0,0,0,0.2); width:140px; padding:15px 0 10px 0; border-radius:6px; display:none; z-index:100; } 
#left_content_block .inner_block .wide_submenu .more_popup ul{list-style:none; display:block}
#left_content_block .inner_block .wide_submenu .more_popup ul li{display:block; padding:5px 20px 5px 20px}
#left_content_block .inner_block .wide_submenu .more_popup ul li a{color:#656565}
#left_content_block .inner_block .wide_submenu .more_popup ul li:hover{background:#eeeeee}
#left_content_block .inner_block .wide_submenu .more_popup ul li:hover a{color:#181818}
#left_content_block .inner_block .wide_submenu .more_popup:before{content: "";
                                                                  position: absolute;
                                                                  left: 65px;
                                                                  top: 0;
                                                                  width: 14px;
                                                                  height: 14px;
                                                                  margin-top: -8px;
                                                                  background-color: white;
                                                                  border-top: 1px solid #dfdfdf; border-left:1px solid #dfdfdf;
                                                                  border-radius: 2px;					
                                                                  -webkit-transform: rotate(45deg);
                                                                  -ms-transform: rotate(45deg);
                                                                  transform: rotate(45deg);}
#left_content_block .inner_block .wide_submenu .more .visible{display:block}					
#left_content_block .inner_block .wide_submenu .checkbox_block{width:30px;}
#left_content_block .inner_block .wide_submenu .checkbox_block input[type="checkbox"]{display:none;  }
#left_content_block .inner_block .wide_submenu .checkbox_block input[type="checkbox"]+ label{cursor: pointer;  }
#left_content_block .inner_block .wide_submenu .checkbox_block input[type="checkbox"]+ label:before{content: "";  display:inline-block;  width:23px; height:10px; background: url('../images/checkbox.png') top left no-repeat; background-position:0 0}
#left_content_block .inner_block .wide_submenu .checkbox_block input[type="checkbox"]:checked + label:before{background-position:0 -10px}


#left_content_block .inner_block .wide_submenu .checkbox_block .checked{background-position:0 -33px}

#left_content_block .inner_block .edit{width:100%; float:left; padding-bottom:20px; display: table}
#left_content_block .inner_block .edit .checkbox_row{float:left; width:30px; margin-top:50px; display: table-cell}
#left_content_block .inner_block .edit .checkbox_row input[type="checkbox"]{display:none;  }
#left_content_block .inner_block .edit .checkbox_row input[type="checkbox"]+ label{cursor: pointer;  }
#left_content_block .inner_block .edit .checkbox_row input[type="checkbox"]+ label:before{content: "";  display:inline-block;  width:23px; height:10px; background: url('../images/checkbox.png') top left no-repeat; background-position:0 0}
#left_content_block .inner_block .edit .checkbox_row input[type="checkbox"]:checked + label:before{background-position:0 -10px}


#left_content_block .inner_block .edit .item{margin-left:30px;  border-radius:6px; background: #f7f7f7; margin-bottom:10px; font-size:11pt; color:#656565;  display: table-cell; vertical-align: top  }
#left_content_block .inner_block .edit .item .image{ padding:5px; width:190px; float:left;} 
#left_content_block .inner_block .edit .item .image img{border:2px solid #dddcdc; border-radius:6px; vertical-align: middle; }
#left_content_block .inner_block .edit .item .price{float:right; text-align: right; padding:10px 15px 0 0; width:150px; } 
#left_content_block .inner_block .edit .item .price .green_bold{white-space: nowrap;  }
#left_content_block .inner_block .edit .item  .green_bold{ color: #3db772; font-size:14pt; font-weight:600}
#left_content_block .inner_block .edit .item .year{float:right; padding:10px 0 0 0; width:80px; text-align:center; }
#left_content_block .inner_block .edit .item .details{padding:10px 0 10px 0; margin-right:245px;  margin-left:200px; }
#left_content_block .inner_block .edit .item .details .green_bold a{ color: #3db772; font-size:14pt; font-weight:600; text-decoration:none; }
#left_content_block .inner_block .edit .item .details .green_bold a:hover{color:#107a46}
#left_content_block .inner_block .edit .item .details p a{text-decoration:none; color:#656565}
#left_content_block .inner_block .edit .item .details p a:hover{color:#181818;}
#left_content_block .inner_block .edit .item .details #progressbar{margin:5px 0 5px 0; width:130px;}
#left_content_block .inner_block .edit .item .price .arrow{ padding:10px 0 0 0; float:left; width:130px; position:relative }
#left_content_block .inner_block .edit .item .price .arrow img{}
#left_content_block .inner_block .edit .item .price .arrow:hover{cursor: pointer}
#left_content_block .inner_block .edit .item .price .up{float:right; } 
#left_content_block .inner_block .edit .item .price .up a{color:#656565; display: block; float:left; padding-right:6px;}
#left_content_block .inner_block .edit .item .price .guess{background: url('../images/guess.png') top left no-repeat; width:17px; height:17px; float:left; margin-top:63px; position:relative;}
#left_content_block .inner_block .edit .item .price  .popup{background: white; width:200px; position:absolute; top:-10px; left:30px; border: 1px solid #3eb772; padding:10px; text-align:center; display:none; }
#left_content_block .inner_block .edit .item .price  .popup:before{content: "";
                                                                   position: absolute;
                                                                   left: -8px;
                                                                   top: 20px;
                                                                   width: 14px;
                                                                   height: 14px;
                                                                   margin-top: -8px;
                                                                   background-color: white;
                                                                   border-bottom: 1px solid #3eb772; border-left:1px solid #3eb772;
                                                                   border-radius: 2px;					
                                                                   -webkit-transform: rotate(45deg);
                                                                   -ms-transform: rotate(45deg);
                                                                   transform: rotate(45deg);}

#left_content_block .inner_block .edit .item .price .guess:hover .popup{display:block}

#left_content_block .inner_block .edit .item .star{width:19px; height:17px; background: url('../images/star3.png') top left no-repeat; background-position: 0 0; float:left; margin:2px 5px 0 0;}
#left_content_block .inner_block .edit .item .selected{background-position: 0 -17px; }
#left_content_block .inner_block .edit .item .date{color:#cccccc}


#left_content_block .inner_block .archive img{margin-right:15px;margin-bottom:10px;}					

#left_content_block .inner_block .gallery{
    width: 100%;
    margin: 20px 0;
    text-align: center;
}	

#left_content_block .inner_block .gallery img{
	width: 100%;
	max-width:640px;
}

/*Review Form*/
#review-form{
    font-size: 11pt;
}

#review-form .error{
    border-color:red !important;
}

#review-form .half-column{
    width: 46%;
    float: left;
    padding: 0 30px 10px 0;
}

#review-form .row{
    margin-bottom: 10px;
    clear: both;
}

#review-form .row.email .hint{
    margin-left: 75px;
}

#review-form .row.email .errorMessage{
    margin-left: 75px;
}

#review-form .row.email label{
    width: 75px;
}

#review-form .row.row-img{
    margin: 30px 0;
}

#review-form .row.row-long{
    margin-bottom:30px;
}

#review-form .row.buttons{
    margin-top: 80px;
}

#review-form .row.buttons input{
    width: 200px;
    margin-left: 300px;
}

#review-form .row.row-img label{
    line-height: 73px;
}

#review-form .row.plus-minus label{
    height:20px;
    width: 65%;
}

#review-form label.plus{
    background: url('../images/plus2.png') top right no-repeat; 
}

#review-form label.minus{
    background: url('../images/minus.png') top right no-repeat; 
}

#review-form .row label{
    width: 160px;
    float: left;
    display: block;
    clear: both;
    font-weight: 600;
}

#review-form .row:before, #review-form .row:after {
  display: table;
  line-height: 0;
  content: "";
  clear:both;
}

#review-form .input_container{
    width: 500px;
    border: 1px solid #a7a7a7;
    border-radius: 5px;
    padding:0 10px 0 10px;
    float: left;
}

#review-form .input_container input{
    background:none; 
    height:31px; 
    width: 100%;
    line-height:30px; 
    font-family: 'Open Sans', Arial; 
    color:#888888; 
    border: none;
}

#review-form .textarea_container{
    border: 1px solid #a7a7a7; 
    border-radius: 5px; 
    height:400px; 
    padding:5px 10px 5px 10px; 
    width:660px;
    margin-top: 26px;
}

#review-form .plus-minus .textarea_container{
    height:200px; 
    padding:5px 10px 5px 10px; 
    width:60%;
}

#review-form .plus-minus .hint{
    margin: 0;
}

#review-form .plus-minus .half-column{
    padding-bottom: 0;
}

#review-form .textarea_container textarea{
   width:100%; 
   height:100%;
   background:none; 
   resize:none; 
   border:none;  
   font-family: 'Open Sans', Arial; 
   font-size:14px; 
   color:#888888; 
}

#review-form .hint{
    clear: both;
    margin-left: 165px;
    padding-top: 5px;
    font-size: 12px;
}

#review-form .errorMessage{
    margin-left: 165px;
}

.googleplay{padding:15px 20px 0 0; float:left}
.googleplay a{width:130px; height:40px; background: white url('../images/google_play.png') top left no-repeat; display:block; border-radius:6px; box-shadow: 0 1px 3px rgba(0,0,0,0.2); background-position:14px 7px;}
.appstore{padding:15px 0 0 0; float:left;}
.appstore a{width:130px; height:40px; background: white url('../images/app_store.png') top left no-repeat; display:block; border-radius:6px; box-shadow: 0 1px 3px rgba(0,0,0,0.2); background-position:8px 7px;}

#right_content_block{width:234px;  float:right; margin-left:12px; }
#right_content_block .text_block{background: white; float:left; border-radius:6px; padding:10px 18px 16px 18px; float:left; margin-bottom:5px; font-size:14px; box-shadow: 0 1px 5px rgba(0,0,0,0.2)}
#right_content_block .text_block h4{font-weight:normal; font-size:20px; padding-bottom:10px;}
#right_content_block .text_block h5{font-weight:normal; font-size:18px; padding-bottom:10px;}
#right_content_block .text_block .commend_button{padding:40px 0 12px 8px}
#right_content_block .text_block .commend_button a{display:block;  border: 2px solid #6fca96; border-radius:6px; width:182px; height:43px; line-height:43px; text-align:center; text-transform:uppercase; font-weight:700; color:#3db772; text-decoration:none; font-size:15px;}
#right_content_block .text_block .commend_button a:hover{ border: 2px solid #107a46; color:#107a46}
#right_content_block .usefull_goods_block{
    background: white; 
    float:left; 
    min-height: 1100px;
    width: 234px;
    border-radius:6px; 
    padding:16px 0 10px 0; 
    font-size:14px; 
    box-shadow: 0 1px 5px rgba(0,0,0,0.2)
}
#right_content_block .usefull_goods_block h4{color:#8e8e8e; font-weight:normal; font-size:15pt; line-height:20px; padding:0 12px 8px 12px;}
#right_content_block .usefull_goods_block .direct_subheader{font-size:7pt; color:#bdbdbd; padding:0 12px 8px 12px}
#right_content_block .usefull_goods_block .block_item{float:left; padding:0 12px 3px 12px; float:left} 
#right_content_block .usefull_goods_block .block_item:hover{background:#eeeeee; cursor: pointer}
#right_content_block .usefull_goods_block .block_item h5{color:#3db772; font-weight:600; font-size:15px; padding-bottom:5px; clear:both;}
#right_content_block .usefull_goods_block .block_item:hover h5{color:#107a46}
#right_content_block .usefull_goods_block .block_item .image{float:left; padding-right:6px; width:80px;}
#right_content_block .usefull_goods_block .block_item .image img{border:2px solid #dddcdc; border-radius:5px;}
#right_content_block .usefull_goods_block .block_item .description{float:left; width:124px; line-height:14px; color:#656565}
#right_content_block .usefull_goods_block .block_item:hover .description{color:#181818}

#right_content_block .related_block{background: white; float:left; border-radius:6px; padding:16px 0 10px 0; float:left; font-size:14px; box-shadow: 0 1px 5px rgba(0,0,0,0.2);}
#right_content_block .related_block h4{color:#8e8e8e; font-weight:normal; font-size:19px; line-height:20px; padding:0 12px 8px 12px;}
#right_content_block .related_block table{width:100%; padding:0;  border-spacing: 0; border:0; }
#right_content_block .related_block table td{vertical-align:top; padding:0 6px 18px 0}
#right_content_block .related_block table td img{border: 2px solid #dddcdc; border-radius:6px;}
#right_content_block .related_block table td  h6{color:#3db772; font-weight:normal; margin-top:-3px;}
#right_content_block .related_block table td  p{line-height:16px;}
#right_content_block .related_block table td  p a{color:#888888; text-decoration:none}
#right_content_block .related_block table td  p a:hover{text-decoration:underline}
#right_content_block .related_block .one_brand{padding:4px 12px 5px 12px; float:left}
#right_content_block .related_block .one_brand input[type="checkbox"]{display:none;  }
#right_content_block .related_block .one_brand input[type="checkbox"]+ label{cursor: pointer;  }
#right_content_block .related_block .one_brand input[type="checkbox"]+ label:before{content: "";  display:inline-block;  width:23px; height:10px; background: url('../images/checkbox.png') top left no-repeat; background-position:0 0}
#right_content_block .related_block .one_brand input[type="checkbox"]:checked + label:before{background-position:0 -10px}
#right_content_block .related_block .one_brand label{ width:150px; float:left; line-height:15px;}
#right_content_block .related_block .block_item{float:left; padding:8px 12px 8px 12px;} 
#right_content_block .related_block .block_item:hover{background:#eeeeee; cursor: pointer}
#right_content_block .related_block .block_item .image{float:left; padding-right:6px; width:75px;}
#right_content_block .related_block .block_item .description{float:left; width:129px; line-height:14px; color:#656565}
#right_content_block .related_block .block_item .description h6{color:#3db772; font-weight:normal; margin-top:-3px;}
#right_content_block .related_block .block_item .description p{line-height:16px;}
#right_content_block .related_block .block_item:hover h6{color:#107a46}
#right_content_block .related_block .block_item:hover .description p{color:#181818}

#right_content_block .about_block{background: white; float:left; border-radius:6px; padding:16px 12px 10px 12px; float:left; font-size:14px; box-shadow: 0 1px 5px rgba(0,0,0,0.2); margin-bottom:2px; width:210px;}
#right_content_block .about_block h4{color:#8e8e8e; font-weight:normal; font-size:15pt; line-height:20px; padding-bottom:8px;}
#right_content_block .about_block ul{list-style:none; padding:25px 0 15px 12px}
#right_content_block .about_block ul li{padding-bottom:10px;}
#right_content_block .about_block ul li a{color:#888888}
#right_content_block .about_block ul li a:hover{color:#555555}

#right_content_block .garage_block{background: white; float:left; border-radius:6px; padding:14px 12px 14px 12px; float:left; font-size:14px; box-shadow: 0 1px 5px rgba(0,0,0,0.2); margin-bottom:2px; width:210px; position:relative}
#right_content_block .garage_block h4{font-weight:normal; font-size:15pt; line-height:20px; cursor: pointer}
#right_content_block .garage_block h4 span{color:#555555}
#right_content_block .garage_block .star{position:absolute; top:15px; right:15px; width:19px; height:17px; background: url('../images/star2.png') top left no-repeat; background-position: 0 0;  -moz-transition: all 1s 0.1s ease-in;
                                         -o-transition: all 1s 0.1s ease-in;
                                         -webkit-transition: all 1s 0.1s ease-in;}
#right_content_block .garage_block .star:hover{ background: url('../images/star2.png') top left no-repeat; background-position: 0 0; -webkit-transform: rotate(360deg);
                                                -moz-transform: rotate(360deg);
                                                -o-transform: rotate(360deg); background-position: 0 -17px;}
#right_content_block .garage_block .selected{background-position:0 -17px;}
#right_content_block .garage_block .popup_block{position:absolute; top:46px; left:0; border:1px solid #3eb772; background: white;  box-shadow: 0 1px 2px rgba(0,0,0,0.2); width:232px; padding:20px 0 0 0; z-index:90; display:none;}
#right_content_block .garage_block .popup_block .block_item{float:left; padding:16px 12px 8px 12px;} 
#right_content_block .garage_block .popup_block .close{position:absolute; top:5px; right:5px; z-index:100; background: url('../images/close2.png') top left no-repeat; width:12px; height:12px;}
#right_content_block .garage_block .popup_block .close:hover{background: url('../images/close2_active.png') top left no-repeat; cursor: pointer}
#right_content_block .garage_block .popup_block .block_item:hover{background:#eeeeee; cursor: pointer}
#right_content_block .garage_block .popup_block .block_item .image{float:left; padding-right:6px; width:75px;}
#right_content_block .garage_block .popup_block .block_item .description{float:left; width:127px; line-height:14px; color:#656565}
#right_content_block .garage_block .popup_block .block_item .description h6{color:#3db772; font-weight:normal; margin-top:-3px;}
//#right_content_block .garage_block .popup_block .block_item .description p{line-height:16px;}
#right_content_block .garage_block .popup_block:before{content: "";
                                                       position: absolute;
                                                       left: 110px;
                                                       top: 0;
                                                       width: 14px;
                                                       height: 14px;
                                                       margin-top: -8px;
                                                       background-color: white;
                                                       border-top: 1px solid #3eb772; border-left:1px solid #3eb772;
                                                       border-radius: 2px;					
                                                       -webkit-transform: rotate(45deg);
                                                       -ms-transform: rotate(45deg);
                                                       transform: rotate(45deg);}
#right_content_block .garage_block .visible{display:block}					

#right_content_block .item{width:222px; height:48px; line-height:48px; background: white; border-radius:6px;  box-shadow: 0 2px 3px rgba(0,0,0,0.2); margin-bottom:3px; color:#888888; font-size:15pt; padding:0 0 0 12px; position:relative; cursor:  pointer }
#right_content_block .item:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 8px 6px 0 7px;
    border-style: solid;
    border-color: #888888 transparent;
}
#right_content_block .item.active:after { 
    margin-top: -5px;
    border-width: 0 6px 8px 7px;
    border-style: solid;
    border-color: #888888 transparent;  
}
#right_content_block .item:hover{background: #3db772; color: white}
#right_content_block  .subitems{display:none} 
#right_content_block  .subitems .checkbox_list{list-style:none; padding:3px 12px 5px 12px; clear: both}
#right_content_block  .subitems .checkbox_list li{ font-size:15px; padding:5px 0 5px 0}
#right_content_block  .subitems .fl li{float:left; padding-right:25px;}
#right_content_block  .subitems .checkbox_list li input[type="checkbox"]{display:none;  }
#right_content_block  .subitems .checkbox_list li input[type="checkbox"]+ label{cursor: pointer;  }
#right_content_block  .subitems .checkbox_list li input[type="checkbox"]+ label:before{content: "";  display:inline-block;  width:23px; height:10px; background: url('../images/checkbox.png') top left no-repeat; background-position:0 0}
#right_content_block  .subitems .checkbox_list li input[type="checkbox"]:checked + label:before{background-position:0 -10px}
#right_content_block  .subitems .state_check{padding: 15px 0 15px 12px;}
#right_content_block  .subitems .state_check a{font-size:30px; color: #3db772;}
#right_content_block  .subitems .state_check a:hover{color: #000000; text-decoration: none;}
#right_content_block  .subitems .select_container{width:234px; height:48px; background: white; border-radius:6px;  box-shadow: 0 2px 3px rgba(0,0,0,0.2); color:#888888; position:relative}
#right_content_block  .subitems .select_container .info{position:absolute; top:5px; left:-130px; width: 120px; height:36px; line-height:36px; text-align:center;  font-size:14px;  background:white; border: 1px solid #3db772; border-radius:5px; display:none;}
#right_content_block  .subitems .select_container .info:before{content: "";
                                                               position: absolute;
                                                               right: -8px;
                                                               top: 0;
                                                               width: 14px;
                                                               height: 14px;
                                                               margin-top: 10px;
                                                               background-color: white;
                                                               border-top: 1px solid #3eb772; border-right:1px solid #3eb772;
                                                               border-radius: 2px;					
                                                               -webkit-transform: rotate(45deg);
                                                               -ms-transform: rotate(45deg);
                                                               transform: rotate(45deg);}
#right_content_block  .subitems .select_container .visible{display:block}
#right_content_block  .subitems .select_container .select1{width:116px; float:left; margin: 6px 0 6px 0; border-right:1px solid #c7c7c7;  height:36px;}
#right_content_block  .subitems .select_container .input1{width:96px; float:left; margin: 6px 0 6px 0; border-right:1px solid #c7c7c7;  height:36px; padding:0 10px 0 10px; }
#right_content_block  .subitems .select_container .input1 input{width:96px; height:36px; border:none; font-size:16px;  font-family: 'Open Sans', Arial; line-height:36px; color:#c7c7c7}
#right_content_block  .subitems .select_container .no_border{border:none;}
#right_content_block  .subitems .subheader{clear:both; font-size:19px; padding:12px 0 5px 12px;}
#right_content_block  .subitems .rspacer{width:100%; height:30px;}
#right_content_block  .subitems .non-popular {display:none;}
#right_content_block  .subitems .filter-model{
    float:left; 
    width:112px; 
}
#right_content_block  .subitems .filter-model.popular{
    padding:15px 10px 0 0
}

#right_content_block  .subitems .filter-model.all{
    padding-top:15px;
}

#right_content_block  .subitems .filter-model a{
    display:block; 
    width:110px; 
    border: 1px solid #a5a5a5; 
    border-radius:6px; 
    background: white; 
    height:45px; 
    line-height:45px; 
    text-align:center; 
    text-decoration:none; 
    color:#888888
}

#right_content_block  .subitems .filter-model a{
    border: 1px solid #a5a5a5; 
    color:#888888
}

#right_content_block  .subitems .filter-model.active a{
    border: 1px solid #6dc894;  
    color:#6dc894
}

#right_content_block  .subitems .filter-model a:hover{ 
    border: 1px solid #555555;  
    color:#555555
}

#right_content_block  .subitems .body_type{width:78px; float:left; text-align:center; font-size:9pt; padding:15px 0 5px 0}
#right_content_block  .subitems .body_type input[type="checkbox"]{display:none;  }
#right_content_block  .subitems .body_type input[type="checkbox"]+ label{cursor: pointer;  }
#right_content_block  .subitems .body_type input[type="checkbox"]+ label:before{content: ""; width:78px;  height:32px;  display:inline-block;   background-position:0 0}
#right_content_block  .subitems .body_type input[type="checkbox"]:checked + label{color:#3db772}
#right_content_block  .subitems .body_type input[type="checkbox"]:checked + label:before{background-position:0 -34px !important;}
#right_content_block  .subitems .body_type #MyObjects_body_type_0 + label:before{background: url('../images/s1_1.png') top left no-repeat;}				
#right_content_block  .subitems .body_type #MyObjects_body_type_1 + label:before{background: url('../images/s2_1.png') top left no-repeat;}
#right_content_block  .subitems .body_type #MyObjects_body_type_2 + label:before{background: url('../images/s3_1.png') top left no-repeat;}
#right_content_block  .subitems .body_type #MyObjects_body_type_3 + label:before{background: url('../images/s4_1.png') top left no-repeat;}
#right_content_block  .subitems .body_type #MyObjects_body_type_4 + label:before{background: url('../images/s5_1.png') top left no-repeat;}
#right_content_block  .subitems .body_type #MyObjects_body_type_5 + label:before{background: url('../images/s6_1.png') top left no-repeat;}
#right_content_block  .subitems .body_type #MyObjects_body_type_6 + label:before{background: url('../images/s7_1.png') top left no-repeat;}
#right_content_block  .subitems .body_type #MyObjects_body_type_7 + label:before{background: url('../images/s8_1.png') top left no-repeat;}
#right_content_block  .subitems .body_type #MyObjects_body_type_8 + label:before{background: url('../images/s9_1.png') top left no-repeat;}
#right_content_block  .subitems .body_type #MyObjects_body_type_9 + label:before{background: url('../images/s10_1.png') top left no-repeat;}
#right_content_block  .subitems .body_type #MyObjects_body_type_10 + label:before{background: url('../images/s11_1.png') top left no-repeat;}

#right_content_block .selected{display:block}

#footer{width:100%; float:left; display:block; background: #555555 url('../images/bottom_shadow.png') top left repeat-x; padding:28px 0 24px 0; }
#footer .copy{float:left; width:296px; color:#c3c2c2; font-size:9pt;}
#footer .footer_pane1{float:left; width:220px; padding:0 30px 0 0; font-size:14px;} 
#footer .footer_pane1 ul{list-style:none}
#footer .footer_pane1 ul li{padding-bottom:10px;} 
#footer .footer_pane1 ul li a{color:white; text-decoration:none;}
#footer .footer_pane1 ul li a:hover{text-decoration:underline;}
#footer .footer_pane2{float:left; width:170px; padding-right:30px; font-size:14px;}
#footer .footer_pane2 ul{list-style:none}
#footer .footer_pane2 ul li{padding-bottom:10px} 
#footer .footer_pane2 ul li a{color:white; text-decoration:none;}
#footer .footer_pane2 ul li a:hover{text-decoration:underline;}
#footer .footer_links{float: right; width:174px; }
#footer .footer_links .visa{ float:right; padding:18px 0 0 0}
#footer .footer_links a{padding:0 0 0 15px; float:right}

#login_block{width:578px; background: #f7f7f7; float:left;  border-radius:6px;  box-shadow: 0 1px 3px rgba(0,0,0,0.4); height:345px;}
#login_block .block_header{text-align:center; font-size:14pt; font-weight:600; color:#3db772; padding:28px 0 0 0}
#login_block .lpane{width:255px; float:left; padding:5px 0 10px 40px; border-right: 1px solid #e0dfdf; margin-top:30px; }
#login_block .lpane .input{width:211px; height:46px; border: 1px solid #6dc894; border-radius:6px; background: white; margin-bottom:32px; padding:0 10px 0 10px;} 
#login_block .lpane .input input{width:211px; height:46px; line-height:46px; background: transparent; border: none; font-family: 'Open Sans', Arial; font-size:16px;}
#login_block .lpane input[type="button"]{width:233px; border-radius:6px; background: url('../images/gbg.png') top left repeat; height:48px; color: white; border: none; cursor: pointer; text-transform:uppercase; font-weight:700;  font-family: 'Open Sans', Arial;  box-shadow: 0 1px 5px rgba(0,0,0,0.3); font-size:14px;}
#login_block .lpane input[type="button"]:hover{background: #107A46}
#login_block .lpane  .forgot_link{width:233px; text-align:center; margin-top:-25px; padding-bottom:10px; font-size:11pt;}
#login_block .lpane  .forgot_link a{color:#3db772}
#login_block .lpane  .forgot_link a:hover{color:#107A46}
#login_block .rpane{width:233px; float:left; padding:0 0 0 20px;}
#login_block .rpane .login_text{text-transform:uppercase; color:#3db772; height:25px; font-size:10px; text-align:center; font-weight:700; padding-top:10px;}
#login_block .rpane .fb{padding-bottom:33px;} 
#login_block .rpane .fb a{width:151px; height:48px; border-radius: 6px; background: #5572ae url('../images/fsb.png') top left no-repeat; display:block; background-position:15px 0; line-height:48px; color:white; font-weight:700; text-decoration:none; padding:0 0 0 82px; box-shadow: 0 1px 5px rgba(0,0,0,0.3);}
#login_block .rpane .fb a:hover{ box-shadow: 2px 2px 7px rgba(0,0,0,0.3);}
#login_block .rpane .google{padding-bottom:33px;} 
#login_block .rpane .google a{width:141px; height:48px; border-radius: 6px; background: #ed6d5b url('../images/gogl.png') top left no-repeat; display:block; background-position:15px 0; line-height:48px; color:white; font-weight:700; text-decoration:none; padding:0 0 0 92px; box-shadow: 0 1px 5px rgba(0,0,0,0.3);}
#login_block .rpane .google a:hover{ box-shadow: 2px 2px 7px rgba(0,0,0,0.3);}
#login_block .rpane .register{width:233px; text-align:center;  height:48px}
#login_block .rpane .register a{text-transform:uppercase; font-weight:700; font-size:14px; line-height:48px;  color:#3db772}
#login_block .rpane .register a:hover{color:#107A46}

.pop-form{
    background: #f7f7f7;   
    border-radius:6px;  
    box-shadow: 0 1px 3px rgba(0,0,0,0.2); 
    padding:0 30px 0 30px; 
    overflow: hidden;
}

.pop-form .block_header{
    text-align: center;
    color: #3db772;
    font-size: 25px;
    padding: 33px 0 20px 0;
    font-weight: 300;
}

.form .block_header{
    text-align:center; 
    color:#3db772; 
    font-size:18px; 
    padding:33px 0 20px 0; 
    font-weight:600;
}

#orderCall{
    width:300px; 
    height:350px;
}

#askQuestion{
    width: 525px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 25px;
}

#askQuestion.form .block_header{
    text-align: center;
    color: #3db772;
    font-size: 24px;
    padding: 10px 0 0 0;
    font-weight: 600;
}

#askQuestion.form .text-field input {
    height: 30px;
    width: 460px;
}

#askQuestion.form .textarea-field textarea {
    width: 460px;
    height: 160px;
}

#askQuestion.form .publish{
    width: 465px;
}

#writeLetter{
    width:300px; 
    height:450px;
}

#subscribe_block{
    width:518px; 
    height:365px;
}

#city_change_block{  
    width:300px; 
    height:300px;
}

.pop-form .buttons,.form .buttons{
    text-align: center;
}

.pop-form .field, .form  .field{
    text-align: center;
    margin-bottom: 10px;
}

.pop-form .textarea-field textarea{
    width: 280px;
    height: 60px;
    border-radius: 5px;
    padding: 3px 10px;
    resize: none;
    font-size: 15px;
}

.form .textarea-field textarea{
    width: 300px;
    height: 60px;
    border-radius: 5px;
    padding: 3px 10px;
    resize: none;
    font-size: 15px;
}

.form .text-field input{
    height: 30px;
    width: 300px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #a7a7a7;
}

.pop-form .text-field input{
    height: 30px;
    width: 280px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #a7a7a7;
}

.pop-form .publish,.form .publish {
    height: 40px;
    border: 1px solid #6dc894;
    color: #6dc894;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    font-family: 'Open Sans', Arial;
    background: url('../images/wbg.png') top left repeat;
}

.pop-form .publish{
    width: 288px;
}

.pop-form .publish:hover,.form .publish:hover {
    border: 2px solid #6dc894;
}

#city_change_block .jq-selectbox__dropdown{height:150px !important;}
#city_change_block .jq-selectbox__dropdown ul{ max-height: 115px !important;}
#city_change_block .change-city-field{position: relative; margin:0px 40px 20px 40px; padding:0; border-spacing: 0; border:0; font-size:11pt;}


#subscribe_block p{padding:0 12px 0 12px; font-size:14px;}
#subscribe_block .form_block{border-top:1px solid #e0dfdf; margin-top:20px; padding:16px 0 0 0}
#subscribe_block .form_block .left_pane{float:left; width:270px;}
#subscribe_block .form_block .left_pane .b_header{ font-size:20px; padding:0 0 15px 25px;}
#subscribe_block .form_block .left_pane .input_block{ height:46px; background: white; width:211px;  border-radius: 6px; border: 1px solid #6dc894; line-height:46px; padding:0 10px 0 10px; margin-left:12px;}
#subscribe_block .form_block .left_pane .input_block input{width:211px; height:46px; line-height:46px; background: transparent; border:0; font-size:16px;  font-family: 'Open Sans', Arial; color:#888888;}
#subscribe_block .form_block .left_pane .cancel{text-align:center; width:233px; line-height:48px; font-weight:700; font-size:14px; text-transform:uppercase; display:block; color:#3db772; padding-top:15px; }
#subscribe_block .form_block .left_pane .cancel:hover{color:#107A46}
#subscribe_block .form_block .right_pane{float:left; width:220px;}
#subscribe_block .form_block .right_pane .b_header{ font-size:20px; padding:0 0 15px 15px;}
#subscribe_block .form_block .right_pane input[type="button"]{width:233px; height:48px; border-radius:6px; background:  url('../images/gbg.png') top left repeat; border: none;  cursor: pointer; color: white; font-weight:700; font-size:14px; font-family: 'Open Sans', Arial; text-transform:uppercase; margin-top:32px}
#subscribe_block .form_block .right_pane input[type="button"]:hover{background:#107A46}

#login_block2{width:578px; background: #f7f7f7; float:left;  border-radius:6px;  box-shadow: 0 1px 3px rgba(0,0,0,0.4); height:345px;}
#login_block2 .block_header{text-align:center; font-size:14pt; font-weight:600; color:#3db772; padding:28px 0 0 0}
#login_block2 .fb{padding:35px 0 0 173px} 
#login_block2 .fb a{width:232px; height:48px; border-radius: 6px; background: #5572ae url('../images/fsb.png') top left no-repeat; display:block; background-position:15px 0; line-height:48px; color:white; font-weight:700; text-decoration:none; text-align:center; box-shadow: 0 1px 5px rgba(0,0,0,0.3);}
#login_block2 .google{padding:35px 0 0 173px} 
#login_block2 .google a{width:232px; height:48px; border-radius: 6px; background: #ed6d5b url('../images/gogl.png') top left no-repeat; display:block; background-position:15px 0; line-height:48px; color:white; font-weight:700; text-decoration:none;  box-shadow: 0 1px 5px rgba(0,0,0,0.3); text-align:center}   
#login_block2 .vk{padding:35px 0 0 173px} 
#login_block2 .vk a{width:232px; height:48px; border-radius: 6px; background: #4d75a3 url('../images/vkn.png') top left no-repeat; display:block; background-position:15px 0; line-height:48px; color:white; font-weight:700; text-decoration:none; text-align:center;  box-shadow: 0 1px 5px rgba(0,0,0,0.3);} 
#login_block2 .fb a:hover{ box-shadow: 2px 2px 7px rgba(0,0,0,0.3);}
#login_block2 .google a:hover{ box-shadow: 2px 2px 7px rgba(0,0,0,0.3);}
#login_block2 .vk a:hover{ box-shadow: 2px 2px 7px rgba(0,0,0,0.3);}

.login_page {  width: 232px;margin: 0 auto;}
.login_page .block_header{text-align:center; font-size:14pt; font-weight:600; color:#3db772}
.login_page .fb{padding:35px 0 0 0px} 
.login_page .fb a{width:232px; height:48px; border-radius: 6px; background: #5572ae url('../images/fsb.png') top left no-repeat; display:block; background-position:15px 0; line-height:48px; color:white; font-weight:700; text-decoration:none; text-align:center; box-shadow: 0 1px 5px rgba(0,0,0,0.3);}
.login_page .google{padding:35px 0 0 0px} 
.login_page .google a{width:232px; height:48px; border-radius: 6px; background: #ed6d5b url('../images/gogl.png') top left no-repeat; display:block; background-position:15px 0; line-height:48px; color:white; font-weight:700; text-decoration:none;  box-shadow: 0 1px 5px rgba(0,0,0,0.3); text-align:center}   
.login_page .vk{padding:35px 0 0 0px} 
.login_page .vk a{width:232px; height:48px; border-radius: 6px; background: #4d75a3 url('../images/vkn.png') top left no-repeat; display:block; background-position:15px 0; line-height:48px; color:white; font-weight:700; text-decoration:none; text-align:center;  box-shadow: 0 1px 5px rgba(0,0,0,0.3);} 
.login_page .fb a:hover{ box-shadow: 2px 2px 7px rgba(0,0,0,0.3);}
.login_page .google a:hover{ box-shadow: 2px 2px 7px rgba(0,0,0,0.3);}
.login_page .vk a:hover{ box-shadow: 2px 2px 7px rgba(0,0,0,0.3);}

#map{width:578px; background: #f7f7f7; float:left;  border-radius:6px;  box-shadow: 0 1px 3px rgba(0,0,0,0.4); text-align:center; padding:30px 20px 0 20px;}

form .errorMessage{
    color:red;
    font-size: 12px;
    clear: both;
}
/*
.qq-upload-button{
    display: block;
    width: 105px;
    padding: 7px 0;
    text-align: center;
    background: #880000;
    border-bottom: 1px solid #DDD;
    color: #FFF;
}*/

ul.qq-upload-list{
    overflow: hidden;
    width: 400px;
    padding-bottom: 10px;
}

#review-form ul.qq-upload-list{
    float:left;
}

#review-form .qq-upload-button{
    float:left;
}

#review-form .qq-upload-list li{
    padding: 0 0 0 10px;
}

.qq-upload-button{
    width:78px; 
    height:73px; 
    background: url('../images/upload.png') top left no-repeat; 
    position:absolute; 
    z-index:1;
    border: none;
    padding:0;
}

.qq-upload-list li{
    padding-left:0;
    //width:100px;
    float: left;
    position: relative;
}

.qq-upload-size{
    display: none !important;
}

.del-image{
    color: #3db772;
    font-size:11px;
}

.qq-upload-file{
    display:none;
}

.qq-upload-thumb img{
    border-radius: 5px;
}

#review-form .alert-success .upload-delete-file a,#review-form .loaded .upload-delete-file a{
    background: url('../images/system-delete.png') top left no-repeat;
    width: 20px;
    height: 20px;
    right: 3px;
    bottom: 3px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}

#review-form .alert-danger .upload-delete-file a{
    padding-right: 10px;
    color: red;
}


/*
.upload-delete-file{
    position: absolute;
    left: 17px;
    top: 63px;
}
*/
#objectGallery img{
    border: 2px solid #dddcdc;
    border-radius: 6px;
}

#objectGallery .bx-wrapper{
    margin: 0 auto 5px;
}

#objectGallery .bx-viewport{
    border: none;
    background: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    left:0;
}

.bx-viewport ul.bxObject li img{
    cursor:pointer;
}

#bx-pager-object img{
    width: 77px;
    opacity: 0.6;
}

#bx-pager-object img:hover,#bx-pager-object .active img{
    opacity: 1;
}

.testdrive_block{
    margin-bottom: 100px;
}

/*Menu group cat*/

.marks_group_menu{
    width:100%;
    overflow: hidden;
}

.marks_group_menu ul{
    float:left;
}

.marks_group_menu ul{
    list-style: none;
    width: 25%;
    text-align: center;
}

.marks_group_menu ul li{
    padding:5px 0;
}

.marks_group_menu ul li a{
    text-decoration: none;
    color:#4d75a3;
    font-size: 15px;
}

.marks_group_menu ul li a:hover{
    text-decoration: underline;
}

.marks_group_menu li span{
    color:#a3a3a3;
    font-size:14px;
}

.marks_group_menu.all_marks{
    display:none;
}

.marks_group_menu.all_marks a.popular{
    font-weight: bold;
}

/********************************/

div.testdrive_list{
    min-height: 200px;
}

div.testdrive_list h1{
    color: #3db772;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 14px;
    padding-right: 30px;
}

.switch-button-block{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.switch-button-block button{
    color: #3db772;
    border: 1px solid #6fca96;
    padding: 8px;
    background: #fff;
    font-size: 14px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.switch-button-block button:hover{
    border: 1px solid #107a46;
}

.flash-box{
    padding: 10px 0 10px 38px;
    margin: 0px 0px 10px 0;
    color:#555;
    border-radius:3px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
}

.flash-box.moderation {
        background:#fff8c4 url('../images/warning.png') no-repeat 10px 50%;
        border:1px solid #f2c779;
}

#checkList{
    width: 400px;
    font-size: 11pt;
    color: #636363;
}

#checkList .chel_wrap{
    margin-bottom: 7px;
}

#checkList h3{
    border: 1px solid #3db772;
    background: #3db772;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

#checkList h3 a{
    font-size: 18px;
    color: white;
    text-decoration: none;
}

#checkList h3:hover, #checkList h3.active{
    background: #107a46;
}

#checkList .chel_body{
    padding: 10px 15px;
}

#checkList .chel_item{
    padding-bottom: 5px;
   
}
#checkList .chel_p{
    position: relative; 
    padding-left: 20px;
    padding-bottom: 2px;
}

#checkList .chel_comment{
    padding-left: 20px;
    font-style: italic;
}

#checkList .chel_p.true:after {
    content: '\2714';
    position: absolute;
    top: -1px;
    color: green;
    left: 0px;
}

#checkList .chel_p.false:after {
    content: '\00D7';
    position: absolute;
    top: -3px;
    left: 0px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.link-block{
    text-align: center;
    width: 250px;
}

.link-block p{
    margin-bottom: 5px;
}

.link-block a{
    font-size: 16px;
    text-decoration: none;
    color: #3db772;
    border-bottom: #3db772 dashed 1px;
}

.thanks-page{
    min-height: 600px;
}

.thanks-message{
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.g-recaptcha{
    width: 305px;
    margin: 0 auto;
}